body {
  display: flex;
  justify-content: center;
}


.main {
  width: 500px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: #ffeede;
    border: 5px solid #ffeedd;
    border-radius: 1rem;
    margin-top: 1rem;
  }



.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.grid div {
  width: 100px;
  height: 100px;
  margin: 7px;
  border-radius: 3px;
  background-color: #eee4da;
  color: #afa192;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  line-height: 1.6;
}

